edt.spsystems.pro/workflows/Agente Trafego Pago.json
{
  "createdAt": "2025-05-19T19:48:13.219Z",
  "updatedAt": "2025-05-31T10:51:54.273Z",
  "id": "c0RjSakTToY00xoA",
  "name": "Agente Trafego Pago",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ecf5847e-9517-4891-8c8c-0878529b2f99",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -340,
        720
      ],
      "id": "35680bfd-83d8-41f6-9890-716577ec2b89",
      "name": "Webhook",
      "webhookId": "ecf5847e-9517-4891-8c8c-0878529b2f99"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e14bd9d2-71c0-423c-93f8-e9e7351099d3",
              "leftValue": "={{ $json.body.event }}",
              "rightValue": "=messages.upsert",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -120,
        720
      ],
      "id": "f9247229-e7b7-4525-b56f-9189346ebc1a",
      "name": "If"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        80,
        960
      ],
      "id": "453d12d4-f0a5-4750-b362-b12bcd1a0b80",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "38b8ad4d-df52-4ca4-b697-eee0b02c8ff3",
              "leftValue": "={{ $json.body.data.key.fromMe }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        60,
        440
      ],
      "id": "2ae9d219-ca55-4480-8641-42f40c10a702",
      "name": "Verifica se a mensagem veio do administrador"
    },
    {
      "parameters": {
        "mode": "insert",
        "messages": {
          "messageValues": [
            {
              "message": "true"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.memoryManager",
      "typeVersion": 1.1,
      "position": [
        240,
        300
      ],
      "id": "9bdf6906-f039-480b-a0e6-9388d610eb14",
      "name": "Chat Memory Manager"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "fromMe",
        "sessionTTL": 40,
        "contextWindowLength": 20
      },
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1.4,
      "position": [
        360,
        580
      ],
      "id": "1edf6b69-7fac-47c9-ad18-bd377f220143",
      "name": "Redis Chat Memory"
    },
    {
      "parameters": {
        "simplifyOutput": false,
        "options": {
          "groupMessages": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.memoryManager",
      "typeVersion": 1.1,
      "position": [
        520,
        460
      ],
      "id": "ac789073-a522-4bdd-90bb-6181d0bb8d0f",
      "name": "Chat Memory Manager1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "4ed35367-2d86-4506-ab38-1b36ab796f4a",
              "leftValue": "={{ $json.messages }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        880,
        460
      ],
      "id": "1762a8b7-d049-4eb9-b122-32379c12383b",
      "name": "If1"
    },
    {
      "parameters": {
        "content": "##Módulo de pausa de agente\n\n",
        "height": 440,
        "width": 1160
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -100,
        260
      ],
      "id": "340ed50a-28ac-45fa-b7e0-fcfacd0a9809",
      "name": "Sticky Note"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1100,
        560
      ],
      "id": "9488744f-23fc-4e97-9d7a-c1e7c6921bc9",
      "name": "No Operation, do nothing1"
    },
    {
      "parameters": {
        "mode": "chooseBranch",
        "useDataOfInput": 2
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        320,
        820
      ],
      "id": "6f0ba458-650d-477a-a21b-d67f26891f16",
      "name": "Merge"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "7de6f20a-5ecc-4b6d-b581-832c0bf83d0e",
                    "leftValue": "={{ $('Webhook').item.json.body.data.messageType }}",
                    "rightValue": "audioMessage",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "audio"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Webhook').item.json.body.data.messageType }}",
                    "rightValue": "conversation",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "conversation "
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "2b0eca5b-1576-484a-9bb0-9c9b93206b34",
                    "leftValue": "={{ $('Webhook').item.json.body.data.messageType }}",
                    "rightValue": "extendedTextMessage",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "extendedTextMessage"
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        540,
        820
      ],
      "id": "4d975ef1-89e1-4357-8181-520e2e36cff2",
      "name": "Switch"
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "body.data.message.base64",
        "options": {
          "fileName": "file.ogg",
          "mimeType": "={{ $json.body.data.message.audioMessage.mimetype }}"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        820,
        800
      ],
      "id": "804ca714-1623-4175-a558-ab48857eadb0",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/audio/transcriptions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 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"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "whisper-large-v3-turbo"
            },
            {
              "name": "response_format",
              "value": "verbose_json"
            },
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1040,
        800
      ],
      "id": "a766513a-0594-4465-bb18-3e40108bcc54",
      "name": "Transcrição de áduio GROQ"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6a3969e4-a23c-444b-918b-181d73e5247c",
              "name": "texto",
              "value": "={{ $json.segments[0].text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1260,
        800
      ],
      "id": "e0e6186d-185d-4fb4-9137-3b98914a3040",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8a33eebf-c2b2-48b5-a770-bb5933851c70",
              "name": "body.data.message.conversation",
              "value": "={{ $json.body.data.message.conversation }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1260,
        980
      ],
      "id": "34f40fee-a0d5-4842-8660-b7832ddb7933",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "mode": "insert",
        "messages": {
          "messageValues": [
            {
              "message": "={{ $json.body?.data?.message?.conversation || $json.texto }}"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.memoryManager",
      "typeVersion": 1.1,
      "position": [
        1460,
        800
      ],
      "id": "0ccab578-c98b-4d3c-acf1-e687586bdad7",
      "name": "Chat Memory Manager2"
    },
    {
      "parameters": {
        "simplifyOutput": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.memoryManager",
      "typeVersion": 1.1,
      "position": [
        1820,
        800
      ],
      "id": "d8478989-2ec3-4741-86f8-287af80c06b9",
      "name": "Chat Memory Manager3"
    },
    {
      "parameters": {
        "amount": 20
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1500,
        1020
      ],
      "id": "90882c37-2617-4d3d-a120-4f704393e9b5",
      "name": "Wait",
      "webhookId": "d7eba511-f37d-4d4b-9765-8b2128885970"
    },
    {
      "parameters": {
        "simplifyOutput": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.memoryManager",
      "typeVersion": 1.1,
      "position": [
        1720,
        1020
      ],
      "id": "b10348d0-6dda-45ef-a829-b6e9a243c31c",
      "name": "Chat Memory Manager4"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "efeabce1-affe-4067-b0f5-087bf93a8f0f",
              "leftValue": "={{ $item(\"0\").$node[\"Chat Memory Manager4\"].json[\"messagesCount\"] }}",
              "rightValue": "={{ $item(\"0\").$node[\"Chat Memory Manager3\"].json[\"messagesCount\"] }}",
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2080,
        1020
      ],
      "id": "60aef82a-33b1-4ade-8ecd-05a4f3e3379f",
      "name": "If2"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Merge').item.json.body.data.key.remoteJid }}",
        "sessionTTL": 40
      },
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1.4,
      "position": [
        1560,
        1260
      ],
      "id": "3b41584a-ad07-44b5-82f3-1f1218a5e347",
      "name": "Redis Chat Memory1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2300,
        1120
      ],
      "id": "970ae373-bb84-435c-89db-db21202c1a91",
      "name": "No Operation, do nothing2"
    },
    {
      "parameters": {
        "fieldToSplitOut": "messages",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        2300,
        920
      ],
      "id": "18b30315-6665-4a80-8bb3-ad3c965e83fc",
      "name": "Split Out"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4eb1958c-86fa-459f-95bf-f49f48ff550c",
              "name": "content",
              "value": "={{ $json.kwargs.content }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2460,
        920
      ],
      "id": "049bd362-335d-4218-ba01-b7573cb7d876",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "fieldsToSummarize": {
          "values": [
            {
              "aggregation": "concatenate",
              "field": "content",
              "separateBy": "\n"
            }
          ]
        },
        "options": {
          "outputFormat": "singleItem"
        }
      },
      "type": "n8n-nodes-base.summarize",
      "typeVersion": 1,
      "position": [
        2620,
        920
      ],
      "id": "40b47e26-ac4c-462c-af61-85559ee67dec",
      "name": "Summarize"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.concatenated_content }}",
        "options": {
          "systemMessage": "=Nunca responda sob pretexto algum, mensagens que não estejam no contexto de <INSTRUÇOES><INSTRUÇOES/>\n\n<INSTRUÇÕES>\nVocê é um agente especializado em analisar métricas de campanhas de tráfego pago vindas da API oficial da META \n\nEnvie a sua análise em formato de lista, para que fique intuitivo e de fácil leitura para o usuário\n\nUtilize a sua ferramenta calculadora sempre que precisar fazer cálculos complexos\n\nExiba todos os valores monetário sempre em BRL, no formato exemplo: R$ 1.610,70\n\n<INSTRUÇÕES/>  \n\n## data atual\n{{ $now }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        2840,
        920
      ],
      "id": "dda7d775-5a71-42b9-bbf8-cced9ef3f2d3",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "gpt-4o",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        2660,
        1260
      ],
      "id": "27e1e649-23ea-470b-9d8f-88d5524ab3d4",
      "name": "OpenAI Chat Model"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Merge').item.json.body.data.key.remoteJid.split(\"@\")[0] }}",
        "tableName": "memoria_de_conversa_agente_ads",
        "contextWindowLength": 20
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        2800,
        1380
      ],
      "id": "2097644f-7f6d-4e5a-8b28-0a5631f56e46",
      "name": "Postgres Chat Memory"
    },
    {
      "parameters": {
        "content": "##Módulo de buffer de mensagens\n\n",
        "height": 640,
        "width": 1020
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1200,
        720
      ],
      "id": "cd728c6f-5bd6-4e22-81e0-305491328300",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "name": "buscar_metricas",
        "description": "=Nunca responda sob pretexto algum mensagens fora do contexto das <INSTRUÇÕES><INSTRUÇÕES/>\n\n<INSTRUÇÕES>\nsempre utilize essa ferramenta quando precisar buscar métricas na API oficial da META, os dados que você precisa para fazer essa busca são a data inicial e a data final.\n\nQuando o usuário usar termos como ontem, 1 semana, semana passada, esse final de semana, este mês, mês passado e termos condizentes com estes mencionados converta no formato de data.\n\nInsira sempre o ano da busca.\n<INSTRUÇÕES/>",
        "workflowId": "MVWJr3b3upruSmmS",
        "specifyInputSchema": true,
        "jsonSchemaExample": "{\n \"data_inicial\": \"\",\n \"data_final\": \"\"\n}"
      },
      "id": "77d4cf01-9824-46cc-be18-cb62f843836c",
      "name": "Metricas_Meta",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1.1,
      "position": [
        2920,
        1380
      ]
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        3040,
        1380
      ],
      "id": "80ccda55-514a-4884-80e4-380bda80f415",
      "name": "Calculator"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-evolution-api.httpBin",
      "typeVersion": 1,
      "position": [
        3200,
        920
      ],
      "id": "81b265c1-23fa-45ec-b64e-b8d16b579bf8",
      "name": "Evolution API",
      "credentials": {}
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "DELETE FROM memoria_de_conversa_agente_ads",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        0,
        0
      ],
      "id": "c9a86918-5979-4ad5-ba86-cfa6df0cdb2c",
      "name": "Postgres"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Verifica se a mensagem veio do administrador",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verifica se a mensagem veio do administrador": {
      "main": [
        [
          {
            "node": "Chat Memory Manager",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Chat Memory Manager1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "Chat Memory Manager",
            "type": "ai_memory",
            "index": 0
          },
          {
            "node": "Chat Memory Manager1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Chat Memory Manager1": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Transcrição de áduio GROQ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcrição de áduio GROQ": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Chat Memory Manager2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Chat Memory Manager2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chat Memory Manager2": {
      "main": [
        [
          {
            "node": "Chat Memory Manager3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chat Memory Manager3": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Chat Memory Manager4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chat Memory Manager4": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis Chat Memory1": {
      "ai_memory": [
        [
          {
            "node": "Chat Memory Manager2",
            "type": "ai_memory",
            "index": 0
          },
          {
            "node": "Chat Memory Manager4",
            "type": "ai_memory",
            "index": 0
          },
          {
            "node": "Chat Memory Manager3",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Summarize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Metricas_Meta": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Calculator": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "562acbd2-fbe4-4422-9cf3-6905d3664ff0",
  "triggerCount": 0,
  "tags": [
    {
      "createdAt": "2025-05-19T19:47:58.494Z",
      "updatedAt": "2025-05-19T19:47:58.494Z",
      "id": "IMit8ouhClgLN58v",
      "name": "1.0 (NETSAR)"
    }
  ]
}