edt.spsystems.pro/workflows/Calendar_Oauth_refreshtoken.json
{
  "createdAt": "2025-05-30T19:15:13.402Z",
  "updatedAt": "2025-05-30T19:15:13.402Z",
  "id": "Qzd14CulIwfVYl3C",
  "name": "Calendar_Oauth_refreshtoken",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "/calendar/oauth/token/refresh",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        120,
        500
      ],
      "id": "008ce1a8-efba-4171-9c08-f5c1c18718c0",
      "name": "Webhook",
      "webhookId": "d732a487-dab2-49ba-86b6-8815c51cebc5"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://oauth2.googleapis.com/tokeninfo",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "access_token",
              "value": "={{ $json.body.resource.access_token }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        320,
        500
      ],
      "id": "67032433-8d8f-48a9-a85d-e3c22546e8fc",
      "name": "[Google] Test Token",
      "notesInFlow": true,
      "alwaysOutputData": true,
      "onError": "continueRegularOutput",
      "notes": "Verifica token"
    },
    {
      "parameters": {
        "content": "## Token Google  \nO **access_token** do Google expira a cada 1 hora.  \n\nQuando isso ocorre, usamos o **refresh_token** para obter um novo **access_token**.  \n\n### Retorno para o **[Anna] Calendar Agent**  \n- **valid**: Token ainda válido, nenhuma ação tomada  \n- **expired**: Token expirado, novo gerado e salvo no banco  \n- **invalid**: Token inválido, Google rejeitou; tenta-se gerar um novo usando `clientId`, `clientSecret` e `refresh_token` do Directus  \n\n### Códigos de resposta HTTP  \n- `200 OK`: Tudo certo, token válido  \n- `201 Created`: Novo token criado com sucesso  \n- `401 Unauthorized`: Token inválido, precisa de nova autorização  \n- `500 Internal Server Error`: Erro ao tentar gerar ou salvar o token",
        "height": 900,
        "width": 1640,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        20,
        20
      ],
      "typeVersion": 1,
      "id": "d8b0eb91-ebfe-4c27-940e-50f0ecd1caf1",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "",
        "height": 940,
        "width": 1680,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1,
      "id": "336410f9-e239-4907-810f-5e345804d10e",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.expires_in }}",
                    "rightValue": "={{ $now }}",
                    "operator": {
                      "type": "dateTime",
                      "operation": "after"
                    },
                    "id": "c1087862-d406-41d2-b0c4-5178c56c28cd"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "valid"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "f9c5415e-29b6-4dcf-bc42-4f6895ccac1d",
                    "leftValue": "={{ $json.expires_in }}",
                    "rightValue": "={{ $now }}",
                    "operator": {
                      "type": "dateTime",
                      "operation": "before"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "expired"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "1e298e9d-3aaf-423a-aea6-870133b12040",
                    "leftValue": "={{ $json.error.message }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "invalid"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        520,
        500
      ],
      "id": "e420b4a9-9b18-4459-a724-838489b05186",
      "name": "Switch"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://oauth2.googleapis.com/token",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/x-www-form-urlencoded"
            }
          ]
        },
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "client_id",
              "value": "={{ $('Webhook').item.json.body.resource.client_id }}"
            },
            {
              "name": "client_secret",
              "value": "={{ $('Webhook').item.json.body.resource.client_secret }}"
            },
            {
              "name": "refresh_token",
              "value": "={{ $('Webhook').item.json.body.resource.refresh_token }}"
            },
            {
              "name": "grant_type",
              "value": "refresh_token"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        760,
        700
      ],
      "id": "8f081061-daa4-4144-8e0f-3e858a16caa6",
      "name": "[Google] Invalid"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://oauth2.googleapis.com/token",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/x-www-form-urlencoded"
            }
          ]
        },
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "client_id",
              "value": "={{ $('Webhook').item.json.body.resource.client_id }}"
            },
            {
              "name": "client_secret",
              "value": "={{ $('Webhook').item.json.body.resource.client_secret }}"
            },
            {
              "name": "refresh_token",
              "value": "={{ $('Webhook').item.json.body.resource.refresh_token }}"
            },
            {
              "name": "grant_type",
              "value": "refresh_token"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        760,
        500
      ],
      "id": "8fde85dc-e851-4339-8cc1-d1876671e294",
      "name": "[Google] New"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        760,
        300
      ],
      "id": "1530e012-90fc-48dc-b878-b0cebbbad8f1",
      "name": "Same"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e76e43f8-67de-4005-a8fb-38a0dc84e197",
              "name": "token_expiration",
              "value": "={{ new Date(Date.now() + ($json.expires_in * 1000)).toDateTime().toISO() }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        960,
        300
      ],
      "id": "5a36e96a-b0d2-4fa4-baf4-81027e8cdd13",
      "name": "Transform Valid"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e76e43f8-67de-4005-a8fb-38a0dc84e197",
              "name": "token_expiration",
              "value": "={{ new Date(Date.now() + ($json.expires_in * 1000)).toDateTime().toISO() }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        960,
        500
      ],
      "id": "20b2f91c-9351-466b-a614-f0fb7d5d2661",
      "name": "Transform Expired"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e76e43f8-67de-4005-a8fb-38a0dc84e197",
              "name": "token_expiration",
              "value": "={{ new Date(Date.now() + ($json.expires_in * 1000)).toDateTime().toISO() }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        960,
        700
      ],
      "id": "92b3abda-943d-41c2-83fc-9776687f2ac0",
      "name": "Transform Invalid"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $('Webhook').item.json.body.directus.domain }}/items/calendars/{{ $('Webhook').item.json.body.resource.id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Webhook').item.json.body.directus.token }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"access_token\": \"{{ $json.access_token }}\",\n  \"token_expiration\": \"{{ $json.token_expiration }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1160,
        700
      ],
      "id": "669254be-d680-4057-afe8-8fdfaa2eac4c",
      "name": "[Directus] Update Invalid"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $('Webhook').item.json.body.directus.domain }}/items/calendars/{{ $('Webhook').item.json.body.resource.id }}",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Webhook').item.json.body.directus.token }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"access_token\": \"{{ $json.access_token }}\",\n  \"token_expiration\": \"{{ $json.token_expiration }}\",\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1160,
        500
      ],
      "id": "5366c777-5fe0-44f9-969f-b8abfc82cbc2",
      "name": "[Directus] Update Expired"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1160,
        300
      ],
      "id": "a76f839e-2426-4ffe-aba4-fff17a3ff619",
      "name": "No Update",
      "notesInFlow": true,
      "notes": "Token valido, sem update"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"status\": \"valid\",\n  \"action\":\"reuse_token\",\n  \"id\": {{ $('Webhook').item.json.body.resource.id || $json.data.id }}\n}",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1360,
        300
      ],
      "id": "60627775-c0d1-4d1b-8b67-237d4e300bed",
      "name": "200 | Valid"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"status\": \"expired\",\n  \"action\":\"new_token\",\n  \"id\": {{ $json.data.id }}\n}",
        "options": {
          "responseCode": 201
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1360,
        500
      ],
      "id": "ba0bf744-b4d2-478a-846e-1d376b8df9cc",
      "name": "201 | Expired"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"status\": \"invalid\",\n  \"action\":\"new_token\",\n  \"id\": {{ $json.data.id }}\n}",
        "options": {
          "responseCode": 201
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1360,
        700
      ],
      "id": "bc132f6f-2354-481f-b0e9-c5eeb0921f26",
      "name": "201 | Invalid"
    },
    {
      "parameters": {
        "content": "## TODO\nAdicionar lista de calendarios no banco de dados\n",
        "width": 400
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1240,
        40
      ],
      "typeVersion": 1,
      "id": "4e8d158a-6834-41a6-9b95-e7a471df12f1",
      "name": "Sticky Note3"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "[Google] Test Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[Google] Test Token": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Same",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "[Google] New",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "[Google] Invalid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[Google] Invalid": {
      "main": [
        [
          {
            "node": "Transform Invalid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[Google] New": {
      "main": [
        [
          {
            "node": "Transform Expired",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Same": {
      "main": [
        [
          {
            "node": "Transform Valid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transform Valid": {
      "main": [
        [
          {
            "node": "No Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transform Expired": {
      "main": [
        [
          {
            "node": "[Directus] Update Expired",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transform Invalid": {
      "main": [
        [
          {
            "node": "[Directus] Update Invalid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[Directus] Update Invalid": {
      "main": [
        [
          {
            "node": "201 | Invalid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[Directus] Update Expired": {
      "main": [
        [
          {
            "node": "201 | Expired",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Update": {
      "main": [
        [
          {
            "node": "200 | Valid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "457f650f-129f-4104-9a99-c72cceeea77b",
  "triggerCount": 0,
  "tags": [
    {
      "createdAt": "2025-05-30T17:26:54.137Z",
      "updatedAt": "2025-05-30T17:26:54.137Z",
      "id": "LRORuWhx0wCsNKeV",
      "name": "v2.1.6-correcao"
    },
    {
      "createdAt": "2025-05-30T17:27:23.620Z",
      "updatedAt": "2025-05-30T17:27:23.620Z",
      "id": "P7PKzvIvtUnnQXbu",
      "name": "/calendar"
    }
  ]
}