edt.spsystems.pro/workflows/Calendar_agent.json
{
  "createdAt": "2025-05-30T19:14:29.345Z",
  "updatedAt": "2025-05-30T19:14:29.345Z",
  "id": "Ta1oQefHOk91BkF6",
  "name": "Calendar_agent",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('[Main Agent] Request').item.json.body.solicitacao }} Solicitação para o calendário de id {{ $('Calendar Query').item.json.data.id }}",
        "options": {
          "systemMessage": "={{ \n   $('[Calendars] Get Calendar').first().json.data.prompt\n\n    .replaceAll('${now}', $now)\n\n    .replaceAll('${userName}', $('[Conversations] Find Calendar').item.json.data[0].user_id.username)\n\n    .replaceAll('${role}', ($('[Directus Users] Get Admins').item.json.errors ? \"Sem email no campo email do contato\" : $('[Directus Users] Get Admins').item?.json?.data[0]?.role?.name))\n\n    .replaceAll('${conversationHistory}', $('[Core Chat] Histories').item.json.data.map(c => {\n      const tipo = c.message.type;\n      const conteudo = c.message.content;\n      const remetente = tipo === 'human'\n        ? 'Contact'\n        : 'IA';\n    return `${remetente}: ${conteudo}`;   }).join('\\n') )\n}} \n{{ $('[Tool] Dates').item.json.configuracao_data }}\n\nSempre chame a tool 'Get Google Access Token' antes de qualquer operacão com calendario passando o id do calendario.\n\n  <functions>\n    <function name=\"Get Access Token\" required>Obtém tokens necessários para acessar calendários.</function>\n    <function name=\"List Events\">Lista eventos existentes para verificar conflitos.</function>\n    <function name=\"Calendar List\">Recupera calendários disponíveis ao usuário.</function>\n    <function name=\"Create Events\">Cria eventos sem conflito após confirmação.</function>\n    <function name=\"Delete Events\">Remove eventos específicos.</function>\n    <function name=\"Update Event\">Atualiza eventos existentes.</function>\n  </functions>\n\n<calendarId>calendarId: {{ $('Calendar Query').item.json.data.id }}</calendarId>\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        1220,
        120
      ],
      "id": "afb821b9-6d24-440d-8fda-0fb980a56c6c",
      "name": "AI Agent",
      "retryOnFail": false,
      "executeOnce": true
    },
    {
      "parameters": {
        "sseEndpoint": "={{ $env.WEBHOOK_URL }}mcp/calendar/sse"
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1,
      "position": [
        1440,
        380
      ],
      "id": "8feea4e7-374b-4429-9700-eccc01fdbb6f",
      "name": "Calendar"
    },
    {
      "parameters": {
        "dataToSave": {
          "values": [
            {
              "key": "last",
              "value": "={{ $json.headers['last-workflow'] }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executionData",
      "typeVersion": 1,
      "position": [
        -1200,
        120
      ],
      "id": "ca82da53-1c6d-49bc-be33-5d9fa21ad75e",
      "name": "Execution Data"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.WEBHOOK_URL.replace(/\\/$/, '') }}/webhook/calendar/oauth/token/refresh",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"directus\": {\n    \"domain\": \"{{ $('[Main Agent] Request').item.json.body.directus_service }}\",\n    \"token\": \"{{ $('[Main Agent] Request').item.json.body.directus_token }}\"\n  },\n  \"resource\": {{ JSON.stringify($json.data, 0, 2) }}\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        0
      ],
      "id": "457db935-5fe8-49f2-90f0-d3789d217a87",
      "name": "[Auth Handler] Expiration Token Test"
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -800,
        120
      ],
      "id": "4eba0bf9-2f10-4513-955d-46b911037336",
      "name": "Split Out"
    },
    {
      "parameters": {
        "url": "={{ $('[Main Agent] Request').item.json.headers['api-address'] }}/items/calendars/{{ $json.user_id.ai_agent.calendar.id }}",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "fields",
              "value": "id, client_id, client_secret, access_token, refresh_token, token_expiration, prompt"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('[Main Agent] Request').item.json.headers['api-token'] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -600,
        120
      ],
      "id": "6eac6fff-1b88-4d2d-a4ff-90182c5f9980",
      "name": "[Calendars] Get Calendar",
      "executeOnce": true
    },
    {
      "parameters": {
        "url": "={{ $json.headers['api-address'] }}/items/conversations",
        "sendQuery": true,
        "specifyQuery": "json",
        "jsonQuery": "={\n    \"filter\": {\n        \"user_id\": {\n            \"_eq\": \"{{ $json.body.contact }}\"\n        }\n    },\n    \"fields\": [\n        \"id\",\n        \"user_id.ai_agent.calendar.id\",\n        \"user_id.id\",\n        \"user_id.username\",\n        \"user_id.email\"\n    ]\n}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.headers['api-token'] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1000,
        120
      ],
      "id": "e101d2fd-4a53-46dc-abeb-4b3783c98620",
      "name": "[Conversations] Find Calendar"
    },
    {
      "parameters": {
        "url": "={{ $('[Main Agent] Request').item.json.headers['api-address'] }}/items/core_chat_histories",
        "sendQuery": true,
        "specifyQuery": "json",
        "jsonQuery": "={\n    \"filter\": {\n        \"session_id\": {\n            \"_eq\": \"{{ $('[Conversations] Find Calendar').first().json.data[0].id }}\"\n        }\n    },\n    \"fields\": [\n        \"message\",\n        \"date_created\"\n    ],\n    \"sort\": \"-date_created\",\n    \"limit\": \"15\"\n}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('[Main Agent] Request').item.json.headers['api-token'] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        820,
        120
      ],
      "id": "4ab1f6ff-7700-4d9c-bfa7-a9fefccda0c0",
      "name": "[Core Chat] Histories"
    },
    {
      "parameters": {
        "url": "={{ $('[Main Agent] Request').item.json.headers['api-address'] }}/items/calendars/yXg3jf7aDiw3qQnM",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "fields",
              "value": "id, client_id, client_secret, access_token, refresh_token, token_expiration, prompt"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('[Main Agent] Request').item.json.headers['api-token'] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        200,
        0
      ],
      "id": "639787a0-253f-449b-a558-7b338c99369b",
      "name": "[Calendars] Get Calendar1",
      "executeOnce": true
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('[Conversations] Find Calendar').item.json.data[0].user_id.id.toString() }}",
        "sessionTTL": 86400,
        "contextWindowLength": 50
      },
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1.5,
      "position": [
        1620,
        380
      ],
      "id": "c0a51def-8018-4d34-9751-c19b251aa2b4",
      "name": "Redis Chat Memory",
      "disabled": true
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('[Conversations] Find Calendar').item.json.data[0].user_id.id }}",
        "contextWindowLength": 20
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1300,
        380
      ],
      "id": "f4d80e94-011a-4fd9-9628-71b522f4f113",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {
          "includeUnpaired": true
        }
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        400,
        120
      ],
      "id": "7971e05d-1350-4340-8f03-99302c1cf7aa",
      "name": "Calendar Query"
    },
    {
      "parameters": {
        "url": "={{ $('[Main Agent] Request').item.json.headers['api-address'] }}/users",
        "sendQuery": true,
        "specifyQuery": "json",
        "jsonQuery": "={\n  \"filter\": {\n    \"email\": {\n      \"_eq\": \"{{ $('[Conversations] Find Calendar').item.json.data[0].user_id.email }}\"\n    }\n  },\n  \"fields\": [\n    \"id\",\n    \"first_name\",\n    \"last_name\",\n    \"email\",\n    \"role.name\",\n    \"status\"\n  ]\n}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('[Main Agent] Request').item.json.headers['api-token'] }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        620,
        120
      ],
      "id": "06326256-4f4b-4598-bf75-d4114ab3d532",
      "name": "[Directus Users] Get Admins",
      "executeOnce": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "/calendar/agent",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1400,
        120
      ],
      "id": "06ad0d56-bdf6-40f9-89ba-7a1fd22b095f",
      "name": "[Main Agent] Request",
      "webhookId": "66e95eb6-5783-4025-82af-b189ac106775"
    },
    {
      "parameters": {
        "url": "={{ $env.WEBHOOK_URL }}webhook/tools/dates",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1020,
        120
      ],
      "id": "8cb84ff4-94f5-49f0-b23f-07e59d8fdbad",
      "name": "[Tool] Dates"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "6ff5758c-983e-49cf-9903-331781d6d185",
              "leftValue": "={{ $json.helper.minutes }}",
              "rightValue": 1,
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -200,
        120
      ],
      "id": "b72c503a-3a26-4e6c-bd4f-ac9d5a5cf0c8",
      "name": "Token Vencido"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "221c1aca-23b5-46e0-a4b4-c4b3c18e35d5",
              "name": "helper.expiration",
              "value": "=Esse token expira em {{ Math.floor((new Date($json.data.token_expiration).getTime() - Date.now()) / 60000) }} minutos",
              "type": "string"
            },
            {
              "id": "44ff01ce-a03c-4bdc-b43a-9bf624a2f3f5",
              "name": "helper.minutes",
              "value": "={{ Math.floor((new Date($json.data.token_expiration).getTime() - Date.now()) / 60000) }}",
              "type": "number"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -400,
        120
      ],
      "id": "13d205ee-a449-4396-9df8-fbecf67ae0db",
      "name": "Token Helper"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-nano",
          "mode": "list",
          "cachedResultName": "gpt-4.1-nano"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1120,
        380
      ],
      "id": "60116775-6c38-4b27-a4c6-f351d7c1e761",
      "name": "OpenAI Chat Model"
    }
  ],
  "connections": {
    "Calendar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Execution Data": {
      "main": [
        [
          {
            "node": "[Conversations] Find Calendar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[Auth Handler] Expiration Token Test": {
      "main": [
        [
          {
            "node": "[Calendars] Get Calendar1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "[Calendars] Get Calendar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[Calendars] Get Calendar": {
      "main": [
        [
          {
            "node": "Token Helper",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[Conversations] Find Calendar": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[Core Chat] Histories": {
      "main": [
        [
          {
            "node": "[Tool] Dates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[Calendars] Get Calendar1": {
      "main": [
        [
          {
            "node": "Calendar Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Calendar Query": {
      "main": [
        [
          {
            "node": "[Directus Users] Get Admins",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[Directus Users] Get Admins": {
      "main": [
        [
          {
            "node": "[Core Chat] Histories",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[Main Agent] Request": {
      "main": [
        [
          {
            "node": "Execution Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[Tool] Dates": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Token Vencido": {
      "main": [
        [
          {
            "node": "[Auth Handler] Expiration Token Test",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Calendar Query",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Token Helper": {
      "main": [
        [
          {
            "node": "Token Vencido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "16097633-e8a8-4a7c-8c8d-61df5c9675a8",
  "triggerCount": 0,
  "tags": [
    {
      "createdAt": "2025-05-30T17:26:54.137Z",
      "updatedAt": "2025-05-30T17:26:54.137Z",
      "id": "LRORuWhx0wCsNKeV",
      "name": "v2.1.6-correcao"
    },
    {
      "createdAt": "2025-05-30T17:27:23.620Z",
      "updatedAt": "2025-05-30T17:27:23.620Z",
      "id": "P7PKzvIvtUnnQXbu",
      "name": "/calendar"
    }
  ]
}