edt.spsystems.pro/workflows/Integração Chatwoot.json
{
  "createdAt": "2025-04-27T05:15:34.468Z",
  "updatedAt": "2025-04-27T20:16:47.377Z",
  "id": "GmwTJFzgoUXIdc90",
  "name": "Integração Chatwoot",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -300,
        -20
      ],
      "id": "cd6d83bb-c299-4abe-be2b-3f38d5b348ce",
      "name": "OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "3raLgi1Pp00Yk6mH",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "bc2d7106012e494892bc2eac13159922"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        -100,
        -20
      ],
      "id": "2e768b5f-3c0e-447e-bb8a-2fa91202398e",
      "name": "Memory",
      "credentials": {
        "postgres": {
          "id": "zftfnmd5SAWF1ri0",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Chatwoot Input').item.json.body.content }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -260,
        -280
      ],
      "id": "ef857246-f421-4fd9-9fb2-7742b680011f",
      "name": "Main Agent"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chatwoot2",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -920,
        -200
      ],
      "id": "ac96f710-8d41-4ce9-976b-dfb9f06d4dd4",
      "name": "Chatwoot Input",
      "webhookId": "d503e6f9-0989-42d5-a598-e268b20c3182"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://chat.spsystems.pro/api/v1/accounts/{{ $('Switch ').item.json.body.account.id }}/conversations/{{ $('Chatwoot Input').item.json.body.conversation.messages[0].conversation_id }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api_access_token",
              "value": "1DGojCStL9SicoQwk6maPCAw"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "content",
              "value": "={{ $json.output }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        220,
        -280
      ],
      "id": "b9337a9e-44ba-421a-91ad-60fd416b0dad",
      "name": "HTTP Request"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -500,
        -100
      ],
      "id": "5193789e-8887-41af-b8e0-16f5e02e3ffc",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "mode": "expression",
        "numberOutputs": 2,
        "output": "={{ \n  $json.body.event === 'message_created' &&\n  $json.body.conversation.messages[0].sender_type === 'Contact' &&\n  $json.body.conversation.meta.sender.phone_number !== '+123456'\n    ? 0 : 1\n}}"
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -700,
        -200
      ],
      "id": "9c66ecb3-6e0f-48ce-b793-4a1e66421ce0",
      "name": "Switch "
    }
  ],
  "connections": {
    "OpenAI": {
      "ai_languageModel": [
        [
          {
            "node": "Main Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Memory": {
      "ai_memory": [
        [
          {
            "node": "Main Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Main Agent": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chatwoot Input": {
      "main": [
        [
          {
            "node": "Switch ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch ": {
      "main": [
        [
          {
            "node": "Main Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "a978ae6b-65be-40c0-9508-0e5edffa258a",
  "triggerCount": 1,
  "tags": []
}