edt.spsystems.pro/workflows/jobber_sync_requests_v1.json
{
  "createdAt": "2025-03-11T20:14:24.159Z",
  "updatedAt": "2025-04-12T23:57:20.177Z",
  "id": "OJkB69wdOrsUuI5F",
  "name": "jobber_sync_requests_v1",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -180,
        -20
      ],
      "id": "20d0c353-b2d8-4200-8c01-b857550944a3",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "operation": "incr",
        "key": "counter"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1120,
        -20
      ],
      "id": "69af8db5-4e09-4cde-ad0a-9e0fcc9dd3bb",
      "name": "counter_2",
      "credentials": {
        "redis": {
          "id": "Yj8Yu3a3AZgluvcL",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "2b3e8ec4-ba57-4716-b420-44b81136d6f1",
              "leftValue": "={{ $('counter_2').item.json.counter }}",
              "rightValue": 1,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            },
            {
              "id": "da7dcbb5-9ca9-4926-8e09-286907986e21",
              "leftValue": "={{ $('pagination 2').item.json.continuePagination }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1620,
        -20
      ],
      "id": "dce806f7-f2e0-463f-b00c-69a8a3b5cfdf",
      "name": "batch loop"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "eff9cc2d-c364-4859-902e-3ceb34481092",
              "name": "variables.first",
              "value": "={{ $('pagination 2').item.json.variables.first }}",
              "type": "number"
            },
            {
              "id": "499c7162-3df3-484c-85c2-d5f72b7bd3ec",
              "name": "variables.after",
              "value": "={{ $('pagination 2').item.json.variables.after }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1360,
        -20
      ],
      "id": "d333c766-294a-406d-a3a6-df6d6b42f74c",
      "name": "set loop"
    },
    {
      "parameters": {
        "jsCode": "// Prepare final data for Supabase insertion\ntry {\n    // In n8n, the input data can be accessed through $input or $json\n    // Using $input as the primary and falling back to alternatives\n    const inputData = $input.all()[0]; // Get the first item from input\n    \n    if (!inputData || !inputData.json) {\n        throw new Error('No input data available');\n    }\n    \n    const data = inputData.json;\n    \n    if (!data.allData || !Array.isArray(data.allData)) {\n        throw new Error('No client data available for Supabase insertion');\n    }\n    \n    // If there was an error in previous steps\n    if (data.error) {\n        throw new Error(`Previous error: ${data.error}`);\n    }\n    \n    // Check if we have completed pagination\n    if (!data.completed) {\n        // Return the inputData unchanged if pagination is not complete\n        return inputData;\n    }\n    \n    // Format data for Supabase batch insert\n    const supabaseItems = data.allData.map((client, index) => {\n        // Generate a unique supabase_id if needed\n        return {\n            ...client,\n            // Convert any complex objects to JSON strings for storage\n            tags: JSON.stringify(client.tags),\n            custom_fields: JSON.stringify(client.custom_fields)\n        };\n    });\n    \n    return {\n        json: {\n            items: supabaseItems,\n            count: supabaseItems.length,\n            success: true\n        }\n    };\n} catch (error) {\n    console.log('Supabase preparation error:', error.message);\n    return {\n        json: {\n            error: error.message,\n            success: false,\n            items: []\n        }\n    };\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -200,
        -500
      ],
      "id": "281bf40a-16ab-440c-8313-27695968313c",
      "name": "Set Array"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        960,
        -20
      ],
      "id": "90ace2a1-b6b1-4718-97ab-02958d36151b",
      "name": "Limit"
    },
    {
      "parameters": {
        "operation": "set",
        "key": "counter",
        "value": "0"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        0,
        -20
      ],
      "id": "b8c3612c-220f-453e-b7f8-22f5ae0d4033",
      "name": "Init counter",
      "credentials": {
        "redis": {
          "id": "Yj8Yu3a3AZgluvcL",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1880,
        -40
      ],
      "id": "4bd68b70-d23e-4cd2-b611-ed09a4b48418",
      "name": "No Operation, do nothing1"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "endpoint": "https://api.getjobber.com/api/graphql",
        "requestFormat": "json",
        "query": "=query($first: Int!, $after: String) {\n  requests(first: $first, after: $after) {\n    nodes {\n      id\n      title\n      assessment {\n        id\n        title\n        allDay\n        startAt\n        endAt\n        assignedUsers {\n          nodes {\n            id\n            # Other user fields\n          }\n        }\n        # Other assessment fields\n      }\n    }\n    pageInfo {\n      hasNextPage\n      endCursor\n    }\n  }\n}",
        "variables": "={{ $json.variables || {\"first\": 30, \"after\": null} }}",
        "headerParametersUi": {
          "parameter": [
            {
              "name": "X-JOBBER-GRAPHQL-VERSION",
              "value": "2025-01-20"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.graphql",
      "typeVersion": 1,
      "position": [
        220,
        -20
      ],
      "id": "19eb48b0-743b-4d0d-b5e9-c98038414b51",
      "name": "jobber query - requests",
      "credentials": {
        "oAuth2Api": {
          "id": "bYFIrqt2IbgZU5Z1",
          "name": "JobberAPI_BI Compass APP"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "endpoint": "https://api.getjobber.com/api/graphql",
        "requestFormat": "json",
        "query": "=query($first: Int!, $after: String) {\n  quotes(first: $first, after: $after) {\n    nodes {\n      id\n      title\n      quoteNumber\n      quoteStatus\n      message\n      contractDisclaimer\n      clientHubUri\n      clientHubViewedAt\n      \n      amounts {\n        subtotal\n        total\n      }\n      \n            \n      depositAmountUnallocated\n      \n      depositRecords {\n        nodes {\n          id\n        }\n      }\n      \n      lineItems {\n        nodes {\n          id\n        }\n      }\n      \n      property {\n        id\n      }\n      \n      request {\n        id\n        title\n      }\n      \n      salesperson {\n        id\n      }\n      \n      taxDetails {\n        totalTaxAmount\n        totalTaxRate {\n          id\n          name\n          # Removed 'rate' field as it doesn't exist on TaxRateBase\n        }\n      }\n      \n      unallocatedDepositRecords {\n        nodes {\n          id\n        }\n      }\n      \n      createdAt\n      updatedAt\n      transitionedAt\n    }\n    pageInfo {\n      hasNextPage\n      endCursor\n    }\n  }\n}",
        "variables": "={{ $json.variables || {\"first\": 5, \"after\": null} }}",
        "headerParametersUi": {
          "parameter": [
            {
              "name": "X-JOBBER-GRAPHQL-VERSION",
              "value": "2025-01-20"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.graphql",
      "typeVersion": 1,
      "position": [
        860,
        -540
      ],
      "id": "21050b98-7d7e-41d1-91b1-34e2bf3b7aa5",
      "name": "jobber query - quotes",
      "credentials": {
        "oAuth2Api": {
          "id": "bYFIrqt2IbgZU5Z1",
          "name": "JobberAPI_BI Compass APP"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "endpoint": "https://api.getjobber.com/api/graphql",
        "requestFormat": "json",
        "query": "=query($first: Int!, $after: String) {\n  jobs(first: $first, after: $after) {\n    nodes {\n      id\n      title\n      jobNumber\n      jobStatus\n      jobType\n      \n      createdAt\n      updatedAt\n      startAt\n      endAt\n      completedAt\n      bookingConfirmationSentAt\n      \n      property {\n        id\n      }\n      \n      instructions\n      total\n      invoicedTotal\n      uninvoicedTotal\n      \n      lineItems {\n        nodes {\n          id\n          name\n          description\n          quantity\n          unitPrice\n        }\n      }\n      \n      billingType\n      \n      jobBalanceTotals {\n        outstandingAmount\n        totalAmount\n      }\n      \n      quote {\n        id\n      }\n      \n      request {\n        id\n      }\n      \n      salesperson {\n        id\n        name {\n          full\n        }\n      }\n      \n      source\n      willClientBeAutomaticallyCharged\n      \n      \n      \n      defaultVisitTitle\n      allowReviewRequest\n    }\n    pageInfo {\n      hasNextPage\n      endCursor\n    }\n  }\n}",
        "variables": "={{ $json.variables || {\"first\": 5, \"after\": null} }}",
        "headerParametersUi": {
          "parameter": [
            {
              "name": "X-JOBBER-GRAPHQL-VERSION",
              "value": "2025-01-20"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.graphql",
      "typeVersion": 1,
      "position": [
        1080,
        -540
      ],
      "id": "81316357-3c76-4754-b938-b4caadc8aa7e",
      "name": "jobber query - jobs",
      "credentials": {
        "oAuth2Api": {
          "id": "bYFIrqt2IbgZU5Z1",
          "name": "JobberAPI_BI Compass APP"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "endpoint": "https://api.getjobber.com/api/graphql",
        "requestFormat": "json",
        "query": "=query($first: Int!, $after: String) {\n  invoices(first: $first, after: $after) {\n    nodes {\n      id\n      invoiceNumber\n      invoiceStatus\n      invoiceNet\n      \n      createdAt\n      updatedAt\n      issuedDate\n      dueDate\n      receivedDate\n      dateViewedInClientHub\n      \n      subject\n      message\n      clientHubUri\n      \n      amounts {\n        depositAmount\n        discountAmount\n        invoiceBalance\n        legacyDiscountAmount\n        nonTaxAmount\n        paymentsTotal\n        subtotal\n        taxAmount\n        tipsTotal\n        total\n      }\n      \n      billingAddress {\n        street\n        city\n        province\n        postalCode\n        country\n      }\n      \n      billingIsSameAsPropertyAddress\n      \n      client {\n        id\n        name\n      }\n      \n      jobs {\n        nodes {\n          id\n          title\n        }\n      }\n      \n      lineItems {\n        nodes {\n          id\n          name\n          description\n          quantity\n          unitPrice\n          totalPrice\n          taxable\n          date\n          category\n          createdAt\n          updatedAt\n          linkedProductOrService {\n            id\n            name\n          }\n          \n        }\n      }\n      \n      paymentRecords {\n        nodes {\n          id\n          amount\n        }\n      }\n      \n      properties {\n        nodes {\n          id\n          address {\n            street\n            city\n          }\n        }\n      }\n      \n      salesperson {\n        id\n        name {\n          full\n        }\n      }\n      \n      taxCalculationMethod\n      \n      jobberWebUri\n      allowReviewRequest\n      nextDateToSendReviewSms\n    }\n    pageInfo {\n      hasNextPage\n      endCursor\n    }\n  }\n}",
        "variables": "={{ $json.variables || {\"first\": 4, \"after\": null} }}",
        "headerParametersUi": {
          "parameter": [
            {
              "name": "X-JOBBER-GRAPHQL-VERSION",
              "value": "2025-01-20"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.graphql",
      "typeVersion": 1,
      "position": [
        1320,
        -540
      ],
      "id": "d85e3783-1875-419e-bf5a-18a059de3a8d",
      "name": "jobber query - invoices",
      "credentials": {
        "oAuth2Api": {
          "id": "bYFIrqt2IbgZU5Z1",
          "name": "JobberAPI_BI Compass APP"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "try {\n    // Pegando o primeiro item do array 'items' no contexto do n8n\n    const responseData = items[0].json || items[0];\n    const result = Array.isArray(responseData) ? responseData[0] : responseData;\n\n    if (!result?.data?.clients) {\n        throw new Error('Invalid response structure');\n    }\n\n    const { nodes, pageInfo } = result.data.clients;\n    const existingData = Array.isArray(items[0]?.json?.allData) ? items[0].json.allData : [];\n    const allData = [...existingData, ...nodes];\n\n    return [\n        {\n            json: {\n                allData,\n                data: nodes,\n                variables: {\n                    first: 5,\n                    after: pageInfo.endCursor\n                },\n                continuePagination: pageInfo.hasNextPage,\n                completed: !pageInfo.hasNextPage\n            }\n        }\n    ];\n} catch (error) {\n    console.log('Error:', error.message);\n    return [\n        {\n            json: {\n                error: error.message,\n                continuePagination: false,\n                completed: true,\n                allData: items[0]?.json?.allData || []\n            }\n        }\n    ];\n}\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        -20
      ],
      "id": "89b0b40b-573e-42dd-82c7-4974c123ca43",
      "name": "Pagination"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// n8n Code Node: Transform Jobber GraphQL data for Supabase\n// This code processes Jobber client data from a GraphQL node and prepares it for Supabase\n\n// In n8n, the items array is automatically available\n// No need to use $input.all()\n\n// Transform a single client from Jobber format to Supabase format\nfunction transformClientForSupabase(jobberClient) {\n  // Extract primary email and phone if they exist\n  const primaryEmail = jobberClient.emails?.find(e => e.primary)?.address || \n                      (jobberClient.emails?.length > 0 ? jobberClient.emails[0].address : null);\n  \n  const primaryPhone = jobberClient.phones?.find(p => p.primary)?.number || \n                       (jobberClient.phones?.length > 0 ? jobberClient.phones[0].number : null);\n  \n  // Map the client data to Supabase format\n  return {\n    jobber_id: jobberClient.id,\n    first_name: jobberClient.firstName,\n    last_name: jobberClient.lastName,\n    company_name: jobberClient.companyName,\n    email: primaryEmail,\n    phone: primaryPhone,\n    billing_address: jobberClient.billingAddress,\n    is_company: jobberClient.isCompany,\n    is_lead: jobberClient.isLead,\n    created_at: jobberClient.createdAt,\n    updated_at: jobberClient.updatedAt,\n    custom_fields: jobberClient.customFields,\n    emails_json: jobberClient.emails,\n    phones_json: jobberClient.phones,\n    tags_json: jobberClient.tags?.edges || [],\n    synced_at: new Date().toISOString()\n  };\n}\n\n// Process each item passed to the node\nconst returnItems = [];\n\nfor (const item of items) {\n  // Get input data directly from the item\n  const inputData = item.json;\n  \n  // In case there's no data, return the original item\n  if (!inputData || !inputData.data || !inputData.data.clients) {\n    returnItems.push(item);\n    continue;\n  }\n  \n  // Extract clients and pagination info\n  const clients = inputData.data.clients.nodes;\n  const pageInfo = inputData.data.clients.pageInfo;\n  \n  // Transform clients for Supabase\n  const transformedClients = clients.map(client => transformClientForSupabase(client));\n  \n  // Create return data object\n  const returnData = { \n    clients: transformedClients,\n    hasMorePages: pageInfo.hasNextPage,\n    nextCursor: pageInfo.endCursor,\n    processedCount: transformedClients.length\n  };\n  \n  // Add the transformed data to return items\n  returnItems.push({\n    json: returnData\n  });\n}\n\n// Return all processed items\nreturn returnItems;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -200,
        -320
      ],
      "id": "13c2bac3-41c4-4cbf-90c6-e1b35002f95e",
      "name": "pagination 2"
    },
    {
      "parameters": {
        "jsCode": "const inputData = $input.all();\nconst allData = inputData[0]?.json?.allData || [];\nreturn allData.map(item => ({ json: item }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        640,
        -20
      ],
      "id": "cb241628-2dc5-4a0a-9194-358804d88473",
      "name": "Set Array1"
    },
    {
      "parameters": {
        "tableId": "requests",
        "dataToSend": "autoMapInputData"
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        820,
        -20
      ],
      "id": "09be6ad0-17c9-41d0-9625-45807132f06f",
      "name": "Supabase",
      "credentials": {
        "supabaseApi": {
          "id": "jZpaPsNpFVX4nSYw",
          "name": "Supabase account"
        }
      }
    }
  ],
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Init counter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "counter_2": {
      "main": [
        [
          {
            "node": "set loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "batch loop": {
      "main": [
        [
          {
            "node": "No Operation, do nothing1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "jobber query - requests",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "set loop": {
      "main": [
        [
          {
            "node": "batch loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Array": {
      "main": [
        []
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "counter_2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Init counter": {
      "main": [
        [
          {
            "node": "jobber query - requests",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Operation, do nothing1": {
      "main": [
        []
      ]
    },
    "Pagination": {
      "main": [
        [
          {
            "node": "Set Array1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pagination 2": {
      "main": [
        []
      ]
    },
    "Set Array1": {
      "main": [
        [
          {
            "node": "Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "jobber query - requests": {
      "main": [
        [
          {
            "node": "Pagination",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "cd208518-f9f2-4d94-80ee-3eca7ffa0da3",
  "triggerCount": 0,
  "tags": []
}