edt.spsystems.pro/workflows/Tool_date.json
{
  "createdAt": "2025-05-30T19:17:07.963Z",
  "updatedAt": "2025-05-30T19:17:07.963Z",
  "id": "vY5fZfVvNp3b1BZH",
  "name": "Tool_date",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "url": "=https://brasilapi.com.br/api/feriados/v1/{{ $now.year }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        200,
        0
      ],
      "id": "edbe4ea6-b4d5-441c-8e37-4e294df3c867",
      "name": "Feriados"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f1335cda-484c-4af4-b048-4add3a837f70",
              "name": "configuracao_data",
              "value": "=<data_hora_atual>\n  - Para se localizar no horário e dia atual\n\n    data: {{ $now.format('yyyy-MM-dd') }}\n    hora: {{ $now.setLocale(pt-BR).format('HH:mm') }}\n    dia_da_semana: {{ $now.weekdayLong }}\n    mês: {{ $now.monthLong }}\n    final_de_semana:? {{ $now.isWeekend }}\n    dias_final_de_semana: sábado e domingo\n    timezone: America/São Paulo\n\n{{(() => {\n  const n = $now.setLocale('pt-BR').setZone('America/Sao_Paulo');\n  const feriados = $json.data;\n\n  return [...Array(7)].map((_, i) => {\n    const d = n.plus({ days: i });\n    const iso = d.toISODate();\n    const label = ['- Hoje é', '- Amanhã será', '- Depois de amanhã será'][i] || `- ${d.weekdayLong} será`;\n    const data = d.toFormat('dd/MM/yyyy');\n    const hora = i === 0 ? ` - ${d.toFormat('HH:mm')}` : '';\n\n    const feriadoEncontrado = feriados.find(f => f.date === iso);\n    const feriado = feriadoEncontrado ? ` (FERIADO: ${feriadoEncontrado.name})` : '';\n\n    return `\\t${label} ${d.weekdayLong}, ${data}${feriado}${hora}`;\n  }).join('\\n');\n})()}}\n<data_hora_atual>\n\n<feriados_{{ $now.year }}>\n{{ $json.data.map(item => {\n  const [year, month, day] = item.date.split('-');\n  return `\\t- ${day}/${month}/${year} -> ${item.name}`;\n}).join('\\n') }}\n</feriados_{{ $now.year }}>",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        620,
        0
      ],
      "id": "a1ed92fc-e2d9-4cee-aec5-2ca0e6c5a0fa",
      "name": "Edita saida"
    },
    {
      "parameters": {
        "path": "/tools/dates",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "6142ec26-13ab-4636-9240-eb182aaf8da0",
      "name": "Webhook",
      "webhookId": "3d110061-0647-4a2e-95ac-dd21e616b0b8"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        840,
        0
      ],
      "id": "a4d5ae07-7c72-40f4-a944-aa8fe217cda3",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        400,
        0
      ],
      "id": "049f3e04-6aad-4e89-a075-28e7eb3d16c2",
      "name": "Aggregate"
    }
  ],
  "connections": {
    "Feriados": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edita saida": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Feriados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Edita saida",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "07f0f7f2-20f7-40ba-b53a-6c9ecb299dde",
  "triggerCount": 0,
  "tags": [
    {
      "createdAt": "2025-05-30T17:26:54.137Z",
      "updatedAt": "2025-05-30T17:26:54.137Z",
      "id": "LRORuWhx0wCsNKeV",
      "name": "v2.1.6-correcao"
    },
    {
      "createdAt": "2025-05-30T19:17:00.910Z",
      "updatedAt": "2025-05-30T19:17:00.910Z",
      "id": "bq5l5EPEUKYuu8Q0",
      "name": "/tools"
    }
  ]
}